.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 242, 249);
    width: calc(100% - 100px);
    height: 40px;
    padding: 20px;
    margin: 1rem 2rem 0.2rem 2rem;   
}

.paieska {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 40px;
    padding-left: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #C0C0C0;
    position: relative;
}

.headerContainer > svg {
    color: black;
    top: 1.6rem;
    left: 20rem;
    position: absolute;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.headericons {
    display: flex;
    justify-items: right;
    align-items: center;
    margin: 15px;
    gap: 7px;
    position: relative;
}

.message {
    background-color: orange;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    font-size: 0.5rem;
    padding-left: 3px;
    position: absolute;
    right: 11.7rem;
    top: 0.6rem;
}
.info {
    display: flex;
    width: 30px;
    height: 40px;
    margin-left: 0.7rem;
}
.name {
    display: flex;
    flex-direction: column;
    line-height: 0.2rem;
    align-items: center;
}
.name h1 {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-right: 2.7rem;
}
    
.name p {
    font-size: 0.6rem;
}
