* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   min-height: 100vh;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
 
}


header {
    align-items: start;
}

main {
    background-color: rgb(238, 242, 249);
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main section {
    display: flex;
    flex-direction: row;
}




.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 6rem 2rem 8rem;
}  

.buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;   
}

.buttons div {
    display: flex;
    flex-direction: row;
    gap: 2rem
}

.clear {
    border: 1px solid rgba(207, 213, 222);
    border-radius: 0.5rem;
    padding: 0.7rem;
    width: 10rem;
}

.clear p {
    margin-right: 1.5rem;
}

.info svg{
    color: #A3ABB7;
   }

.blue {
    background-color: #537CBE;
    color: white;
    border-radius: 0.5rem;
    width: 11rem;
    padding: 0.7rem;
    align-items: center;
    box-shadow: 1px 10px 5px rgba(155, 179, 217, 0.4);
}

.mid-section {
    display: flex;
    flex-direction: row;
    margin: 0 6rem 1rem 6rem;

}
.dashboard-table {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75rem;
    height: 350px;
    border-radius: 30px;
    padding: 50px;
    
}


h1 {
    font-size: 2.5rem;
    padding: 0 0 1rem 1rem;

}

.dashboard-table p {
    font-size: 1.2rem;
    margin: 1.2rem 0 1rem 0;
    color: #A3ABB7;
}



.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.rodykle {
    width: 25px;
    height: 25px;
}

.layout p {
    font-size: 1rem;
}

.bear {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 35rem;
}

.notifications div {
    margin: 1rem 0 1rem 2rem;

}


.notifications .top-line {
    display: flex;
    padding-left: 2rem;
    align-items: center;
    gap: 0.5rem;
}


.top-line p {
    padding-left: 20rem;
    color: blue;
}


.notif-layout div {
    display: flex;
    background-color: white;
    width: 30rem;
    border-radius: 2rem;
    padding: 0.12rem;
}

.three-rows {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.three-rows div {
    width: 63%;
    padding: 0.1rem;
}

.three-rows img {
    padding: 0.5rem;
}


.three-rows :nth-child(2) {
    display: flex;
    flex-direction: column;
}

.last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
    
}

.last-container {
    background-color: white;
    border-radius: 2rem;
    width: 18rem;
    height: 15rem;
    padding: 1rem;
}

.container-top {
    display: flex;
    justify-content: space-between;
}

.container-top svg {
    margin-top: 1.2rem;
    color: rgb(132, 142, 152);
}

.last-container p {
    margin: 2rem 0 2rem 1rem;
    font-size: 1rem;
    width: 50%;
    color: #A3ABB7;
}

.last-container h2 {
    margin-top: 1.5rem;
    margin: 2rem 0 2rem 1rem;
    color: rgb(50, 66, 84);
}